@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Raleway Font Classes */
.raleway-thin {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.raleway-extra-light {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.raleway-semi-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.raleway-extra-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
/* Work Sans Font Classes */
.work-sans-thin {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
}

.work-sans-extra-light {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}

.work-sans-light {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.work-sans-medium {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.work-sans-semi-bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.work-sans-bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.work-sans-extra-bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.work-sans-black {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}

.svgText {
  fill: rgb(255, 255, 255);
  height: 200px;
  transform-origin: center;
  width: 200px;
}

/* global.css or a specific CSS file */
.dropdown-content {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.group-hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 300;
  }
  100% {
    stroke-dasharray: 300, 0;
  }
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 1s ease-in-out forwards;
}

.certification-card {
  --bg-color: #fff;
  --main-color: #323232;

  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
